html{
    font-size: 20px;
    background-color: gray;
}
body{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}
header{
    height: 3vw;
    font-size: 1.1vw;
    text-align:center;
}

nav {
    height: 2.5vw;
    display: flex;
    background-color:darkslategray;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
  }

.secheader{
    text-transform: uppercase;
    text-align:center;
    font-size: 1.75vw;
}

div{
    background-color:white;
}
p{
    padding:.5vw;
}
.sidebar {
    background-color:white;
    padding: .5vw;
    text-align: center;
}
.sidebar_no_top_pad {
    background-color:white;
    padding: .5vw;
    padding-top:0;
    text-align: center;
}
.column{
    width:12.5%;
}

table, th, td{
    border:1px solid;
    font-size:small;
}
table{
    width:100%;
    border-collapse:collapse;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraphs{
    font-size: 1vw;
    padding:1vw;
}

.tableimage{
    float:left;
    width:10vw;
    border-style: inset;
    border-width: .5vw;
}

.note{
    font-size: 0.5vw;
    color:gray;
}

#meImg {
    float:left;
    width:17vw;
    border-style: inset;
    border-width: .7vw;
}